$bg-color-dark: #1f2937;
$bg-color-light: whitesmoke;
$bg-accent-color: #3882f6;
$quote-bg-color: #e5e7eb;

$font-color-dark: #1f2937;
$font-color-light: #f9faf8;

// Reset
body {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
}

// Utility classes //

.blue {
  background-color: $bg-accent-color;
}

.outlined {
  border: 2px solid whitesmoke;
}

// Utilities
@mixin flex {
  display: flex;
}

@mixin flex-centered {
  @include flex;
  justify-content: center;
  align-items: center;
}

@function set-text-color($main-color) {
  @if (lightness($main-color) > 0.4) {
    @return $primary-color;
  }

  @return $secondary-color;
}
