@import "./config";
@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Karla:ital,wght@0,500;1,500&family=Nunito:wght@500&display=swap");

body {
  min-height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.header {
  font-size: 16px;
  font-weight: 200;
  width: 100%;
  color: $font-color-light;
  background-color: $bg-color-dark;
  display: flex;
  justify-content: center;
  padding: 12px;

  .container {
    flex: 1;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;

    .logo {
      font-size: 24px;
    }

    .nav {
      display: flex;
      align-items: center;

      &__links {
        display: flex;
        align-items: center;
        gap: 16px;
        list-style-type: none;
      }
    }
  }
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: center;
}

/* Hero Styles  */

.hero {
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $font-color-light;
  background-color: $bg-color-dark;

  .container {
    gap: 16px;
    max-width: 1000px;
    display: flex;
  }

  &__info {
    gap: 4px;
    line-height: 1.5;
    padding: 8px;
    display: flex;
    flex-flow: column wrap;

    &-title {
      font-weight: 800;
      font-size: 36px;
    }

    &-text {
      font-size: 18px;
    }

    button {
      margin-top: 8px;
      width: 30%;
      display: inline;
    }
  }

  &__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee84;
  }
}

/* Info Styles */

.info {
  width: 100%;
  min-height: 40vh;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    max-width: 1000px;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
  }

  &__title {
    font-size: 36px;
    font-weight: 800;
  }

  &__items {
    gap: 16px;
    display: flex;
    margin-top: 80px;

    &-item {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      gap: 8px;
    }
  }
}

/* Quote Styles */

.quote {
  @include flex-centered;

  width: 100%;
  min-height: 50vh;
  background-color: $quote-bg-color;

  .container {
    padding: 2rem;
    @include flex-centered;

    flex-flow: column nowrap;
    max-width: 1000px;
    gap: 16px;
  }

  &__text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
  }

  &__author {
    font-size: 24px;
    margin-left: auto;
  }
}

.action {
  @include flex-centered;
  width: 100%;
  min-height: 40vh;
  color: $font-color-light;

  .container {
    @include flex;
    max-width: 1000px;
    justify-content: space-between;
    flex: 1;

    background-color: $bg-accent-color;
    padding: 3rem 4rem;
    border-radius: 15px;
  }

  &__btn {
    font-size: 1.2rem;
  }
}

/* Footer Styles */
.footer {
  min-height: 10vh;
  background-color: $bg-color-dark;
  color: $font-color-light;
  @include flex-centered;
}

/* General Styles */
.btn {
  color: inherit;
  padding: 8px 24px;
  border-radius: 8px;
}

.item__image {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 2px solid $bg-accent-color;
}
